body{
    background-image: url("../img/img1.jpg") ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   

}
.contenedorForm{
    position: absolute;
    left:30vw;
    right: 30vw;
    margin-left: auto;
    margin-right: auto;
    background:rgb(45, 45,45,0.5);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #000;


    
}
body{
    color:rgb(255, 255, 255);
}
