<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herramientas para Cultivar Plantas</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/estilo_apartados.css">
    <style>
        .tool-card .card {
            height: 100%;
            display: flex;
            flex-direction: column;
            border: 2px solid black; /* Añade esta línea */
        }

        .tool-card .card-img-top {
            height: 320px; /* Altura fija para las imágenes */
            object-fit: cover; /* Ajusta la imagen al contenedor */
        }

        .tool-card .card-body {
            flex-grow: 1; /* Permite que el cuerpo de la tarjeta crezca para ocupar el espacio */
        }

        .tool-card .card-title {
            font-size: 1.25em;
            margin-bottom: 10px;
        }

        .tool-card .card-text {
            font-size: 0.9em;
        }
        .navbar-brand {
            font-family: 'Dancing Script', cursive;
            font-size: 1.5em;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success py-3 fixed-top">
        <a class="navbar-brand" href="{{ url_for('inicio') }}">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('plantas') }}">Plantas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('articulos') }}">Artículos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('huertos') }}">Huertos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('citas') }}">Citas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('foro') }}">Foro</a>
                </li>
               
            </ul>
        </div>
    </nav>

    <header class="bg-success text-white text-center py-3">
        <h1 class="header-title"><em>Herramientas para Cultivar Plantas</em></h1>
    </header>

    <main class="container my-4">
        <div class="row">
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/pala.jpeg') }}" class="card-img-top" alt="Pala">
                    <div class="card-body">
                        <h5 class="card-title">Pala</h5>
                        <p class="card-text">La pala es una herramienta esencial para cavar y mover tierra. Es fundamental para preparar el terreno y plantar.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/regadera.jpg') }}" class="card-img-top" alt="Regadera">
                    <div class="card-body">
                        <h5 class="card-title">Regadera</h5>
                        <p class="card-text">La regadera se utiliza para regar las plantas de manera uniforme, asegurando que reciban suficiente agua.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/Guantes.jpg') }}" class="card-img-top" alt="Guantes de Jardinería">
                    <div class="card-body">
                        <h5 class="card-title">Guantes de Jardinería</h5>
                        <p class="card-text">Los guantes protegen tus manos mientras trabajas en el jardín, evitando cortes y ampollas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/tijeras.jpg') }}" class="card-img-top" alt="Tijeras de Podar">
                    <div class="card-body">
                        <h5 class="card-title">Tijeras de Podar</h5>
                        <p class="card-text">Las tijeras de podar son útiles para recortar y dar forma a las plantas, promoviendo un crecimiento saludable.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/rastrillo.png') }}" class="card-img-top" alt="Rastrillo">
                    <div class="card-body">
                        <h5 class="card-title">Rastrillo</h5>
                        <p class="card-text">El rastrillo ayuda a limpiar el jardín de hojas y escombros, manteniendo el área ordenada.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/azada.jpeg') }}" class="card-img-top" alt="Azada">
                    <div class="card-body">
                        <h5 class="card-title">Azada</h5>
                        <p class="card-text">La azada es utilizada para remover y airear el suelo, mejorando su estructura y salud.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/palita.jpeg') }}" class="card-img-top" alt="Palita de Mano">
                    <div class="card-body">
                        <h5 class="card-title">Palita de Mano</h5>
                        <p class="card-text">La palita de mano es perfecta para plantar flores pequeñas y trabajar en macetas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/carretilla.jpeg') }}" class="card-img-top" alt="Carretilla">
                    <div class="card-body">
                        <h5 class="card-title">Carretilla</h5>
                        <p class="card-text">La carretilla facilita el transporte de tierra, compost y plantas dentro del jardín.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/horquilla.png') }}" class="card-img-top" alt="Horquilla">
                    <div class="card-body">
                        <h5 class="card-title">Horquilla</h5>
                        <p class="card-text">La horquilla se utiliza para airear el suelo y mezclar compost, mejorando la fertilidad del terreno.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/marcadores.jpg') }}" class="card-img-top" alt="Marcadores de Plantas">
                    <div class="card-body">
                        <h5 class="card-title">Marcadores de Plantas</h5>
                        <p class="card-text">Los marcadores de plantas te ayudan a identificar y organizar tus plantas en el jardín.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/compostador.jpg') }}" class="card-img-top" alt="Compostador">
                    <div class="card-body">
                        <h5 class="card-title">Compostador</h5>
                        <p class="card-text">El compostador convierte los residuos orgánicos en compost, enriqueciendo el suelo de tu jardín.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 tool-card">
                <div class="card">
                    <img src="{{ url_for('static', filename='img/apersor.jpeg') }}" class="card-img-top" alt="Aspersor">
                    <div class="card-body">
                        <h5 class="card-title">Aspersor</h5>
                        <p class="card-text">El aspersor riega el jardín de manera eficiente, asegurando que todas las plantas reciban agua suficiente.</p>
                    </div>
                </div>
            </div>
            <footer class="footer mt-5">
                <p>&copy; 2024 Comunidad de Jardinería. Todos los derechos reservados.</p>
            </footer>
        </div>
    </main>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.getElementById("btn-plantas").addEventListener("click", function() {
                window.location.href = "{{ url_for('plantas') }}";
            });

            document.getElementById("btn-herramientas").addEventListener("click", function() {
                window.location.href = "{{ url_for('herramientas') }}";
            });

            document.getElementById("btn-foro").addEventListener("click", function() {
                window.location.href = "{{ url_for('foro') }}";
            });

            document.getElementById("btn-articulos").addEventListener("click", function() {
                window.location.href = "{{ url_for('articulos') }}";
            });

            document.getElementById("btn-huertos").addEventListener("click", function() {
                window.location.href = "{{ url_for('huertos') }}";
            });

            document.getElementById("btn-citas").addEventListener("click", function() {
                window.location.href = "{{ url_for('citas') }}";
            });
        });
    </script>
</body>

</html>
